{
  "openapi": "3.0.0",
  "info": {
    "title": "SkyPass Swagger Documentation",
    "description": "The swagger doc for SkyPass API Application",
    "version": "1.0.0",
    "contact": {
      "name": "C3 SkyPass Application",
      "url": "https://github.com/BATCH6-KEL3-FINALPROJECT"
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "API untuk Auth resources"
    },
    {
      "name": "User",
      "description": "API untuk User resources"
    },
    {
      "name": "Airport",
      "description": "API untuk Airport resources"
    },
    {
      "name": "Airline",
      "description": "API untuk Airline resources"
    },
    {
      "name": "Flight",
      "description": "API untuk Flight resources"
    }
  ],
  "servers": [
    {
      "url": "https://airline.azkazk11.my.id/api/v1"
    },
    {
      "url": "http://localhost:8000/api/v1"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Return hasil hit API login user",
        "description": "ini API utk login user",
        "requestBody": {
          "description": "ini request body utk sukses login user",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "fosdhan@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password12"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses User login",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Success login"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjQ2YTRhN2Q1LTdjYTgtNGMyZi05YzgyLTA3NWM1N2QyMTQ4ZSIsIm5hbWUiOiJBemthIHpha2kiLCJyb2xlIjoidXNlciIsImVtYWlsIjoiZm9zZGhhbkBnbWFpbC5jb20iLCJpYXQiOjE3MTY1MzE2MjIsImV4cCI6MTcxNjU3NDgyMn0.H6roiYcuZyIB1Ves_8XV2WQKpCJSaHVvr9MzphWTLLU"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Email tidak ada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Alamat Email tidak ditemukan"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Password salah",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Password yang dimasukkan salah"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Auth"],
        "summary": "Return hasil hit API register user",
        "description": "ini API utk register user",
        "requestBody": {
          "description": "ini request body utk sukses register user",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Azka zaki"
                  },
                  "email": {
                    "type": "string",
                    "example": "fosdhan@gmail.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password12"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "081234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses register",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "email": "fosdhan@gmail.com",
                        "newUser": {
                          "role": "user",
                          "is_verified": false,
                          "user_id": "e3ba97ac-7e91-4f17-a6e2-667e5b4764ad",
                          "name": "Azka zaki",
                          "email": "fosdhan@gmail.com",
                          "password": "$2b$10$o34Txjgp/j5kVZX8xKA/kO5rpMKKGxXCludgQERvofKNwXzYwJA5y",
                          "phone_number": "081234567890",
                          "updatedAt": "2024-05-27T18:10:14.893Z",
                          "createdAt": "2024-05-27T18:10:14.893Z",
                          "refresh_token": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "email sudah terdaftar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Email sudah terdaftar"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "minimal password 8 karakter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Password minimal 8 karakter"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "tags": ["Auth"],
        "summary": "Return hasil hit API verify user",
        "description": "ini API utk verify user",
        "requestBody": {
          "description": "ini request body utk sukses verify user",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "@gmail.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "aq1lYD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses verify akun",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "message": "User Verified with secret OTP",
                        "data": {
                          "email": "fosdhan@gmail.com",
                          "newUser": {
                            "user_id": "c99bcf67-8205-4848-b58d-050c91e10938",
                            "name": "Azka",
                            "email": "fosdhan@gmail.com",
                            "phone_number": null,
                            "password": "$2b$10$X31FpUXE.ufEbvlapk63uuf7pFQK.nX5TUsLaLCzFiUcx.1oPn81q",
                            "refresh_token": null,
                            "role": "admin",
                            "is_verified": true,
                            "createdAt": "2024-05-21T17:18:21.382Z",
                            "updatedAt": "2024-05-21T17:18:28.175Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "OTP Errror",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP error, mohon verifikasi lagi"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "OTP sudah tidak valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP sudah tidak valid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OTP salah",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP salah, mohon coba lagi"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/resend-otp": {
      "post": {
        "tags": ["Auth"],
        "summary": "Return hasil hit API resend OTP",
        "description": "ini API utk resend OTP",
        "requestBody": {
          "description": "ini request body utk sukses resend OTP",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "fosdhan@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses resend OTP",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP resent successfully, please check your email"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User tidak ada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User tidak ditemukan, mohon register terlebih dahulu"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Send Request for reset password",
        "description": "ini API utk Reset Passowrd OTP",
        "requestBody": {
          "description": "ini request body utk Reset Password",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "fosdhan@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses Mengirim link reset password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "true"
                    },
                    "code": {
                      "type": "integer",
                      "example": 201
                    },
                    "data": {
                      "type": "string",
                      "example": "{}"
                    },
                    "message": {
                      "type": "string",
                      "example": "Reset password Link sent successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User tidak ada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Alamat Email tidak ditemukan"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Auth"],
        "summary": "Send Request for reset password",
        "description": "ini API utk Reset Passowrd OTP",
        "parameters": [
          {
            "name": "rpkey",
            "in": "query",
            "description": "Token Reset Password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Token Reset Password Valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "true"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Token Valid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 401
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Token Invalid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token Expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Token Expired"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Auth"],
        "summary": "Send New Password and Confirmation Password",
        "description": "ini API utk Reset Password",
        "requestBody": {
          "description": "ini request body utk Reset Password",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "password"
                  },
                  "confPassword": {
                    "type": "string",
                    "example": "password"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "rpkey",
            "in": "query",
            "description": "Token Reset Password",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reset Password success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "true"
                    },
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Password telah diubah"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 401
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid Token"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Token Expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Token Expired"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "minimal password 8 karakter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Password minimal 8 karakter"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Password And confirmation password dont match",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_success": {
                      "type": "bool",
                      "example": "false"
                    },
                    "code": {
                      "type": "integer",
                      "example": 400
                    },
                    "data": {
                      "type": "string",
                      "example": ""
                    },
                    "message": {
                      "type": "string",
                      "example": "Password dan Confirmation password tidak cocok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": ["User"],
        "summary": "Return all user data",
        "description": "API to get all user data",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nama pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Email pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "Nomor telepon pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Peran pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_verified",
            "in": "query",
            "description": "Status verifikasi pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Istilah pencarian untuk pengguna",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Nomor halaman untuk paginasi",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Jumlah hasil per halaman",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "user_id": {
                                "type": "string",
                                "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
                              },
                              "name": {
                                "type": "string",
                                "example": "Rafli Kharisma Akbar"
                              },
                              "email": {
                                "type": "string",
                                "example": "adjrafli@gmail.com"
                              },
                              "phone_number": {
                                "type": "string",
                                "example": "+6281294703072"
                              },
                              "role": {
                                "type": "string",
                                "example": "admin"
                              },
                              "is_verified": {
                                "type": "boolean",
                                "example": true
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2024-06-06T13:16:55.688Z"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2024-06-06T13:16:55.688Z"
                              }
                            }
                          }
                        },
                        "pagination": {
                          "type": "object",
                          "properties": {
                            "totalData": {
                              "type": "integer",
                              "example": 10
                            },
                            "totalPages": {
                              "type": "integer",
                              "example": 1
                            },
                            "pageNum": {
                              "type": "integer",
                              "example": 1
                            },
                            "limitData": {
                              "type": "integer",
                              "example": 10
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid page number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid limit number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid limit number"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No users found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "message": {
                      "type": "string",
                      "example": "No users found for the requested page"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": ["User"],
        "summary": "Get user by ID",
        "description": "Retrieve user details by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to retrieve",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
                        },
                        "name": {
                          "type": "string",
                          "example": "Rafli Kharisma Akbar"
                        },
                        "email": {
                          "type": "string",
                          "example": "adjrafli@gmail.com"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+6281294703072"
                        },
                        "role": {
                          "type": "string",
                          "example": "admin"
                        },
                        "is_verified": {
                          "type": "boolean",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-06-06T13:16:55.688Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-06-06T13:16:55.688Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User with ID: 2b054118-24fc-4c00-8ba2-b1a5e9bb0069 not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["User"],
        "summary": "Update user by ID",
        "description": "Update the details of a user by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to update",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "requestBody": {
          "description": "User details to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Rafli Kharisma Akbar"
                  },
                  "phone_number": {
                    "type": "string",
                    "example": "+6281294703072"
                  },
                  "email": {
                    "type": "string",
                    "example": "adjrafli@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "User updated successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
                        },
                        "name": {
                          "type": "string",
                          "example": "Rafli Kharisma Akbar"
                        },
                        "email": {
                          "type": "string",
                          "example": "adjrafli@gmail.com"
                        },
                        "phone_number": {
                          "type": "string",
                          "example": "+6281294703072"
                        },
                        "role": {
                          "type": "string",
                          "example": "admin"
                        },
                        "is_verified": {
                          "type": "boolean",
                          "example": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-06-06T13:16:55.688Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-06-06T13:16:55.688Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User with ID: 2b054118-24fc-4c00-8ba2-b1a5e9bb0069 not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["User"],
        "summary": "Delete user by ID",
        "description": "Delete a user by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to delete",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successfully deleted user"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "User with ID: 2b054118-24fc-4c00-8ba2-b1a5e9bb0069 not found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flight/create": {
      "post": {
        "tags": ["Flight"],
        "summary": "Return hasil hit API create data flight",
        "description": "ini API utk create data flight",
        "requestBody": {
          "description": "ini request body untuk sukses create data flight",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "flight_duration": {
                    "type": "integer",
                    "example": 75
                  },
                  "flight_description": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "description": {
                              "type": "string",
                              "example": "Bagasi kabin 7 kg"
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "description": "Bagasi kabin 7 kg"
                            },
                            {
                              "id": 2,
                              "description": "Tidak ada wifi"
                            },
                            {
                              "id": 3,
                              "description": "Tidak ada hiburan di pesawat"
                            },
                            {
                              "id": 4,
                              "description": "Tidak ada stopkontak/port usb"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "flight_status": {
                    "type": "string",
                    "example": "on time"
                  },
                  "flight_code": {
                    "type": "string",
                    "example": "JT-683"
                  },
                  "plane_type": {
                    "type": "string",
                    "example": "Boeing 737-900"
                  },
                  "seats_available": {
                    "type": "integer",
                    "example": 213
                  },
                  "terminal": {
                    "type": "string",
                    "nullable": true,
                    "example": null
                  },
                  "departure_date": {
                    "type": "string",
                    "format": "date",
                    "example": "2024-06-11"
                  },
                  "departure_time": {
                    "type": "string",
                    "example": "13:35:00"
                  },
                  "arrival_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2024-06-11"
                  },
                  "arrival_time": {
                    "type": "string",
                    "example": "14:50:00"
                  },
                  "airline_code": {
                    "type": "string",
                    "example": "SJY"
                  },
                  "departure_iata_code": {
                    "type": "string",
                    "example": "BKK"
                  },
                  "arrival_iata_code": {
                    "type": "string",
                    "format": "uuid",
                    "example": "DPS"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses create flight data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "flight": {
                          "flight_id": "7366d63e-3fd9-4886-b14c-fdd58d61dc4f",
                          "airline_id": "87d70109-fabb-4626-a854-2da5e9134420",
                          "flight_duration": 75,
                          "flight_description": {
                            "details": [
                              {
                                "id": 1,
                                "description": "Bagasi kabin 7 kg"
                              },
                              {
                                "id": 2,
                                "description": "Tidak ada wifi"
                              },
                              {
                                "id": 3,
                                "description": "Tidak ada hiburan di pesawat"
                              },
                              {
                                "id": 4,
                                "description": "Tidak ada stopkontak/port usb"
                              }
                            ]
                          },
                          "flight_status": "on time",
                          "flight_code": "JT-683",
                          "plane_type": "Boeing 737-900",
                          "seats_available": 213,
                          "departure_airport": "Bandar Udara Tjilik Riwut",
                          "arrival_airport": "Bandar Udara Internasional Juanda",
                          "departure_date": "2024-06-11T00:00:00.000Z",
                          "departure_time": "13:35:00",
                          "arrival_date": "2024-06-11T00:00:00.000Z",
                          "arrival_time": "14:50:00",
                          "departure_airport_id": "352f9fc8-bd96-48e2-a99a-cc75a4d10e3f",
                          "arrival_airport_id": "ebc3ecd6-b01f-418f-8f5d-646d56b17a26",
                          "updatedAt": "2024-05-29T07:25:36.518Z",
                          "createdAt": "2024-05-29T07:25:36.518Z",
                          "terminal": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Departing Airport not found"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Arriving Airport not found"
                    }
                  }
                }
              }
            }
          },
          "407": {
            "description": "Airline not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Airline not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flight": {
      "get": {
        "tags": ["Flight"],
        "summary": "Return hasil hit API get all data flight",
        "description": "ini API untuk mendapatkan semua data flight",
        "parameters": [
          {
            "name": "departure_city",
            "in": "query",
            "description": "Filter by departure city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "arrival_city",
            "in": "query",
            "description": "Filter by arrival city",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "seat_class",
            "in": "query",
            "description": "Filter by Seat Class",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "departure_date",
            "in": "query",
            "description": "Filter by departure date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "arrival_date",
            "in": "query",
            "description": "Filter by arrival date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "departure_time",
            "in": "query",
            "description": "Filter by departure time",
            "schema": {
              "type": "string",
              "format": "time"
            }
          },
          {
            "name": "arrival_time",
            "in": "query",
            "description": "Filter by arrival time",
            "schema": {
              "type": "string",
              "format": "time"
            }
          },
          {
            "name": "seats_available",
            "in": "query",
            "description": "Filter by available seats",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default 1)",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page (default 10)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "flights": [
                          {
                            "flight_id": "3fdf994e-c84c-4930-a225-f90b784e5e2f",
                            "flight_code": "JT-683",
                            "flight_duration": 75,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 7 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "Tidak ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "Tidak ada hiburan di pesawat"
                                },
                                {
                                  "id": 4,
                                  "description": "Tidak ada stopkontak/port usb"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Boeing 737-900",
                            "seats_available": 213,
                            "terminal": null,
                            "departure_date": "2024-06-11",
                            "departure_time": "13:35:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "14:50:00",
                            "departure_airport_name": "Lisbon Airport",
                            "departure_airport_city": "Lisbon",
                            "departure_iata_code": "LOP",
                            "arrival_airport_name": "Bandar Udara Internasional Sultan Hasanuddin",
                            "arrival_city": "Makassar",
                            "arrival_iata_code": "UPG",
                            "seat_class": "Economy",
                            "price": 1168088,
                            "price_for_child": 876066,
                            "price_for_infant": 116809,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "fd8597fd-8696-45cf-929a-a0e1e7fd2f03",
                            "flight_code": "CTV770",
                            "flight_duration": 150,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 7 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "Tidak ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "Tidak ada hiburan di pesawat"
                                },
                                {
                                  "id": 4,
                                  "description": "Tidak ada stopkontak/port usb"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 114,
                            "terminal": null,
                            "departure_date": "2024-06-05",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-05",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Narita International Airport",
                            "departure_city": "Tokyo",
                            "departure_iata_code": "NRT",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Economy",
                            "price": 1168088,
                            "price_for_child": 876066,
                            "price_for_infant": 116809,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          }
                        ],
                        "pagination": {
                          "totalData": 13,
                          "totalPages": 2,
                          "pageNum": 1,
                          "pageSize": 10
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid page number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid page number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid limit number",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid limit number"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid seats available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid seats available"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No data found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Not Found"
                    },
                    "data": {
                      "type": "string",
                      "example": "{}"
                    },
                    "message": {
                      "type": "string",
                      "example": "No Flight found for the requested Date"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Invalid arrival date",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid arrival date"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/flight/{id}": {
      "get": {
        "tags": ["Flight"],
        "summary": "Return hasil hit API get flight by id",
        "description": "API untuk mendapatkan data flight by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "7366d63e-3fd9-4886-b14c-fdd58d61dc4f"
            },
            "description": "Flight ID"
          }
        ],
        "responses": {
          "201": {
            "description": "Sukses mendapatkan data flight by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "flight": {
                          "flight_id": "3fdf994e-c84c-4930-a225-f90b784e5e2f",
                          "airline_id": "87d70109-fabb-4626-a854-2da5e9134420",
                          "flight_duration": 75,
                          "flight_description": {
                            "details": [
                              {
                                "id": 1,
                                "description": "Bagasi kabin 7 kg"
                              },
                              {
                                "id": 2,
                                "description": "Tidak ada wifi"
                              },
                              {
                                "id": 3,
                                "description": "Tidak ada hiburan di pesawat"
                              },
                              {
                                "id": 4,
                                "description": "Tidak ada stopkontak/port usb"
                              }
                            ]
                          },
                          "flight_status": "on time",
                          "flight_code": "JT-683",
                          "plane_type": "Boeing 737-900",
                          "seats_available": 213,
                          "terminal": null,
                          "departure_airport": "Bandar Udara Tjilik Riwut",
                          "arrival_airport": "Bandar Udara Internasional Juanda",
                          "departure_date": "2024-06-11T00:00:00.000Z",
                          "departure_time": "13:35:00",
                          "arrival_date": "2024-06-11T00:00:00.000Z",
                          "arrival_time": "14:50:00",
                          "departure_airport_id": "352f9fc8-bd96-48e2-a99a-cc75a4d10e3f",
                          "arrival_airport_id": "ebc3ecd6-b01f-418f-8f5d-646d56b17a26",
                          "createdAt": "2024-05-27T13:26:27.864Z",
                          "updatedAt": "2024-05-27T13:26:27.864Z",
                          "departingAirport": {
                            "city": "Palangkaraya",
                            "continent": "Asia"
                          },
                          "arrivingAirport": {
                            "city": "Sidoarjo",
                            "continent": "Asia"
                          },
                          "Airline": {
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Flight not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Flight  with ID: ${req.params.id} not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Flight"],
        "summary": "Return hasil hit API update data flight by id",
        "description": "API untuk update  data flight by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "7366d63e-3fd9-4886-b14c-fdd58d61dc4f"
            },
            "description": "Flight ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "airline_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "87d70109-fabb-4626-a854-2da5e9134429"
                  },
                  "flight_duration": {
                    "type": "integer",
                    "example": 75
                  },
                  "flight_description": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 1
                            },
                            "description": {
                              "type": "string",
                              "example": "Bagasi kabin 7 kg"
                            }
                          },
                          "example": [
                            {
                              "id": 1,
                              "description": "Bagasi kabin 7 kg"
                            },
                            {
                              "id": 2,
                              "description": "Tidak ada wifi"
                            },
                            {
                              "id": 3,
                              "description": "Tidak ada hiburan di pesawat"
                            },
                            {
                              "id": 4,
                              "description": "Tidak ada stopkontak/port usb"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "flight_status": {
                    "type": "string",
                    "example": "on time"
                  },
                  "flight_code": {
                    "type": "string",
                    "example": "JT-683"
                  },
                  "plane_type": {
                    "type": "string",
                    "example": "Boeing 737-900"
                  },
                  "seats_available": {
                    "type": "integer",
                    "example": 213
                  },
                  "terminal": {
                    "type": "string",
                    "nullable": true,
                    "example": null
                  },
                  "departure_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2024-06-11T00:00:00.000Z"
                  },
                  "departure_time": {
                    "type": "string",
                    "example": "13:35:00"
                  },
                  "arrival_date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2024-06-11T00:00:00.000Z"
                  },
                  "arrival_time": {
                    "type": "string",
                    "example": "14:50:00"
                  },
                  "departure_airport_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "352f9fc8-bd96-48e2-a99a-cc75a4d10e3f"
                  },
                  "arrival_airport_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "ebc3ecd6-b01f-418f-8f5d-646d56b17a26"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses update flight data by id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "updatedFlight": {
                          "flight_id": "7366d63e-3fd9-4886-b14c-fdd58d61dc4f",
                          "airline_id": "87d70109-fabb-4626-a854-2da5e9134420",
                          "flight_duration": 75,
                          "flight_description": {
                            "details": [
                              {
                                "id": 1,
                                "description": "Bagasi kabin 7 kg"
                              },
                              {
                                "id": 2,
                                "description": "Tidak ada wifi"
                              },
                              {
                                "id": 3,
                                "description": "Tidak ada hiburan di pesawat"
                              },
                              {
                                "id": 4,
                                "description": "Tidak ada stopkontak/port usb"
                              }
                            ]
                          },
                          "flight_status": "on time",
                          "flight_code": "JT-683",
                          "plane_type": "Boeing 737-900",
                          "seats_available": 213,
                          "departure_airport": "Bandar Udara Tjilik Riwut",
                          "arrival_airport": "Bandar Udara Internasional Juanda",
                          "departure_date": "2024-06-11T00:00:00.000Z",
                          "departure_time": "13:35:00",
                          "arrival_date": "2024-06-11T00:00:00.000Z",
                          "arrival_time": "14:50:00",
                          "departure_airport_id": "352f9fc8-bd96-48e2-a99a-cc75a4d10e3f",
                          "arrival_airport_id": "ebc3ecd6-b01f-418f-8f5d-646d56b17a26",
                          "updatedAt": "2024-05-29T07:25:36.518Z",
                          "createdAt": "2024-05-29T07:25:36.518Z",
                          "terminal": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Flight not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Flight  with ID: ${req.params.id} not found"
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Departing Airport not found"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Airport not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Arriving Airport not found"
                    }
                  }
                }
              }
            }
          },
          "407": {
            "description": "Airline not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Airline not found"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Flight"],
        "summary": "Return hasil hit API delete Flight by id",
        "description": "ini API untuk menghapus data Flight bedasarkan id ",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "7366d63e-3fd9-4886-b14c-fdd58d61dc4f"
            },
            "description": "Flight ID"
          }
        ],
        "responses": {
          "201": {
            "description": "Sukses menghapus data flight berdasarkan id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "successfully deleted flight"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Flight not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Failed"
                    },
                    "message": {
                      "type": "string",
                      "example": "Flight  with ID: ${req.params.id} not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/airline/create": {
      "post": {
        "tags": ["Airline"],
        "summary": "Return hasil hit API create data Airline",
        "description": "ini API utk create data Airline",
        "requestBody": {
          "description": "ini request body utk sukses create data Airline",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "airline_name": {
                    "type": "string",
                    "example": "Qantas"
                  },
                  "airline_code": {
                    "type": "string",
                    "example": "QF"
                  },
                  "country": {
                    "type": "string",
                    "example": "Australia"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses create airline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "newAirline": {
                          "airline_id": "20d850e8-c4ef-4f0d-81a1-d67ea220e08c",
                          "airline_name": "Qantas",
                          "airline_code": "QF",
                          "country": "Australia",
                          "updatedAt": "2024-05-29T08:57:41.226Z",
                          "createdAt": "2024-05-29T08:57:41.226Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/airline": {
      "get": {
        "tags": ["Airline"],
        "summary": "Return hasil hit API get all airline",
        "description": "ini API untuk mendapatkan semua data airline ",
        "responses": {
          "201": {
            "description": "Sukses mengambil semua data airline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "airlines": [
                          {
                            "airline_id": "ef4b4d99-7a6a-4451-ba5e-cff623935d1b",
                            "airline_name": "Batik Air",
                            "airline_code": "BTK",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.851Z",
                            "updatedAt": "2024-05-27T13:26:27.851Z"
                          },
                          {
                            "airline_id": "cba794f5-b409-46c0-89c2-55e32aef449d",
                            "airline_name": "Citilink",
                            "airline_code": "CTV",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.851Z",
                            "updatedAt": "2024-05-27T13:26:27.851Z"
                          },
                          {
                            "airline_id": "ab40b7a9-988d-4e7a-b5e7-e3a33616a2f2",
                            "airline_name": "Garuda Indonesia",
                            "airline_code": "GIA",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.851Z",
                            "updatedAt": "2024-05-27T13:26:27.851Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/airport/create": {
      "post": {
        "tags": ["Airport"],
        "summary": "Return hasil hit API create data Airport",
        "description": "ini API utk create data Airport",
        "requestBody": {
          "description": "ini request body utk sukses create data Airport",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "airport_name": {
                    "type": "string",
                    "example": "Sydney Kingsford Smith Airport"
                  },
                  "city": {
                    "type": "string",
                    "example": "Sydney"
                  },
                  "city_code": {
                    "type": "string",
                    "example": "SYS"
                  },
                  "continent": {
                    "type": "string",
                    "example": "Australia"
                  },
                  "iata_code": {
                    "type": "string",
                    "example": "SYD"
                  },
                  "country": {
                    "type": "string",
                    "example": "Australia"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sukses create airline data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "newAirport": {
                          "airport_id": "13182180-094f-4661-9e6f-2055cc6e0447",
                          "airport_name": "Sydney Kingsford Smith Airport",
                          "city": "Sydney",
                          "continent": "Australia",
                          "city_code": "SYS",
                          "iata_code": "SYD",
                          "country": "Australia",
                          "updatedAt": "2024-05-29T09:05:17.354Z",
                          "createdAt": "2024-05-29T09:05:17.354Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/airport": {
      "get": {
        "tags": ["Airport"],
        "summary": "Return hasil hit API get all airport",
        "description": "ini API untuk mendapatkan semua data airport ",
        "responses": {
          "201": {
            "description": "Sukses mengambil semua data airport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "example": {
                        "airport": [
                          {
                            "airport_id": "83235340-4a91-426d-8e32-a283dc843d21",
                            "airport_name": "Bandar Udara Internasional Yogyakarta",
                            "city": "Kulon Progo",
                            "city_code": null,
                            "continent": "Asia",
                            "iata_code": "YIA",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.842Z",
                            "updatedAt": "2024-05-27T13:26:27.842Z"
                          },
                          {
                            "airport_id": "f919b7f9-8d34-4127-985c-205b8c7dd7bd",
                            "airport_name": "Bandar Udara Internasional Kertajati",
                            "city": "Majalengka",
                            "city_code": null,
                            "continent": "Asia",
                            "iata_code": "KJT",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.842Z",
                            "updatedAt": "2024-05-27T13:26:27.842Z"
                          },
                          {
                            "airport_id": "ebc3ecd6-b01f-418f-8f5d-646d56b17a26",
                            "airport_name": "Bandar Udara Internasional Juanda",
                            "city": "Sidoarjo",
                            "city_code": null,
                            "continent": "Asia",
                            "iata_code": "SUB",
                            "country": "Indonesia",
                            "createdAt": "2024-05-27T13:26:27.842Z",
                            "updatedAt": "2024-05-27T13:26:27.842Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
