{
  "openapi": "3.0.0",
  "info": {
    "title": "SkyPass Swagger Documentation",
    "description": "The swagger doc for SkyPass API Application",
    "version": "1.0.0",
    "contact": {
      "name": "C3 SkyPass Application",
      "url": "https://kelompok3-frontend-final-project.vercel.app/"
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "API Auth Resources"
    },
    {
      "name": "User",
      "description": "API User Resources"
    },
    {
      "name": "Airport",
      "description": "API Airport Resources"
    },
    {
      "name": "Airline",
      "description": "API Airline Resources"
    },
    {
      "name": "Flight",
      "description": "API Flight Resources"
    },
    {
      "name": "Passenger",
      "description": "API Passenger Resources"
    },
    {
      "name": "Seat",
      "description": "API Seat Resources"
    },
    {
      "name": "Transaction",
      "description": "API Transaction Resources"
    },
    {
      "name": "Booking / History",
      "description": "API Booking/History Resources"
    },
    {
      "name": "Notification",
      "description": "API Notification Resources"
    },
    {
      "name": "History",
      "description": "API History Resources"
    },
    {
      "name": "Ticket",
      "description": "API Ticket Resources"
    }
  ],
  "servers": [
    {
      "url": "https://airline.azkazk11.my.id"
    },
    {
      "url": "http://localhost:3000"
    },
    {
      "url": "http://localhost:8000"
    }
  ],
  "components": {
    "securitySchemes": {
      "noauthAuth": {
        "type": "http",
        "scheme": "noauth"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "Azka zaki",
                  "email": "fosdhan@gmail.com",
                  "phone_number": "081234567890",
                  "password": "password12"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "393"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"189-69Nz9DuDfWnxT+cH6zgm128TGqE\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 21 May 2024 16:21:28 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "Success",
                  "data": {
                    "email": "fosdhan@gmail.com",
                    "newUser": {
                      "is_verified": false,
                      "user_id": "27de1c57-0381-4f03-86b1-0f582caaf7c7",
                      "name": "Azka zaki",
                      "email": "fosdhan@gmail.com",
                      "password": "$2b$10$YsMLhjl8tverxv9J2PZPKO2X5QP0hpGA2AgRziEKWF3gWQu4oTFMC",
                      "role": "admin",
                      "updatedAt": "2024-05-21T16:21:28.608Z",
                      "createdAt": "2024-05-21T16:21:28.608Z",
                      "phone_number": null,
                      "refresh_token": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/resend-otp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Resend OTP",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "fosdhan@gmail.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "81"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"51-TY3XfT8m3xrQbwyFjAUJXa1EyhA\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 May 2024 06:18:26 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "Success",
                  "message": "OTP resent successfully, please check your email"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "@gmail.com",
                  "otp": "aq1lYD"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "391"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"187-m4MIT130qsxrh6xCCZ6jWOZJtXk\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 21 May 2024 17:18:28 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Verify With Secret OTP",
                    "value": {
                      "status": "Success",
                      "message": "User Verified with Secret OTP",
                      "data": [
                        {
                          "user_id": "c99bcf67-8205-4848-b58d-050c91e10938",
                          "name": "Azka",
                          "email": "fosdhan@gmail.com",
                          "phone_number": null,
                          "password": "$2b$10$X31FpUXE.ufEbvlapk63uuf7pFQK.nX5TUsLaLCzFiUcx.1oPn81q",
                          "refresh_token": null,
                          "role": "admin",
                          "is_verified": true,
                          "createdAt": "2024-05-21T17:18:21.382Z",
                          "updatedAt": "2024-05-21T17:18:28.175Z"
                        }
                      ]
                    }
                  },
                  "example-1": {
                    "summary": "Verify OTP Successful",
                    "value": {
                      "status": "Success",
                      "message": "User Verified ",
                      "data": [
                        {
                          "user_id": "46a4a7d5-7ca8-4c2f-9c82-075c57d2148e",
                          "name": "Azka zaki",
                          "email": "fosdhan@gmail.com",
                          "phone_number": "081234567890",
                          "password": "$2b$10$0QQ5szQbwc0Loo67QEywXO3Wd.xCeYWmoSXMiYuo4Rem3f7qxmrbK",
                          "refresh_token": null,
                          "role": "user",
                          "is_verified": true,
                          "createdAt": "2024-05-24T06:17:20.859Z",
                          "updatedAt": "2024-05-24T06:19:32.910Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "adjrafli@gmail.com",
                  "password": "admin123"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "735"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2df-voibx1LLfumgVi5bYpRKm9FE/w4\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 07 Jun 2024 04:06:37 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 200,
                  "message": "Login Berhasil!",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjJiMDU0MTE4LTI0ZmMtNGMwMC04YmEyLWIxYTVlOWJiMDA2OSIsIm5hbWUiOiJSYWZsaSBLaGFyaXNtYSBBa2JhciIsInJvbGUiOiJhZG1pbiIsImVtYWlsIjoiYWRqcmFmbGlAZ21haWwuY29tIiwiaXNWZXJpZmllZCI6dHJ1ZSwidHlwZSI6ImFjY2VzcyIsImlhdCI6MTcxNzczMzE5NywiZXhwIjoxNzE3Nzc2Mzk3fQ.oZtuFlWlp17QH2cYDrt5_hyFpl4PWltOcsPwlCidKgg",
                    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjJiMDU0MTE4LTI0ZmMtNGMwMC04YmEyLWIxYTVlOWJiMDA2OSIsIm5hbWUiOiJSYWZsaSBLaGFyaXNtYSBBa2JhciIsInJvbGUiOiJhZG1pbiIsImVtYWlsIjoiYWRqcmFmbGlAZ21haWwuY29tIiwidHlwZSI6InJlZnJlc2giLCJpYXQiOjE3MTc3MzMxOTcsImV4cCI6MTcxODMzNzk5N30.mPa1joH8c_L2zgypXj-OEuGgj040xJG1GXIttkSaSfc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "60"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"3c-N6u3zJqN497sjwkv0q2Da3tI/Zs\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3AN19s4wlsogDn6CBcNXoZLxhIDWnyHDQM.bnx71VGZAZtv%2FVx8N%2Fxdqnv9BQjaS0VxWGBPnZyzZPI; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 24 May 2024 06:22:19 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Email Tidak Ditemukan",
                    "value": {
                      "status": "Failed",
                      "message": "Alamat Email tidak ditemukan"
                    }
                  },
                  "example-1": {
                    "summary": "Password Salah",
                    "value": {
                      "status": "Failed",
                      "message": "Password yang dimasukkan salah"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset Password Update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "fosdhan@gmail.com",
                  "password": "password12"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "rpkey",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImtpYmFjZWszMTBAZnJlc2VjLmNvbSIsImlkIjoiYTk1NjkwMmItNjBiNC00YTQzLTg0NzktOWQwYTcxNDhiYzRhIiwiaWF0IjoxNzE3MzIxMjIwLCJleHAiOjE3MTczMjIxMjB9.qAd-vmkJ1_CvlL158tdmWuIaaROrNaSkyjzLnJC1sE0"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "74"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"4a-tsZQrg6ZMT4nMCcfwW8n5ggFSho\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3AqKIVxrMqPL56sP4zvVNdJBAT4FIolK3-.Y1WdvUP%2FjVq2D1rbk5raYsteCvoaFjKOL9WWQdx7FuQ; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 03 Jun 2024 12:05:38 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 200,
                  "data": "",
                  "message": "Password telah diubah"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "100"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"64-gPI6431S5obaBY/ASr3j9IbStrM\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 03 Jun 2024 12:06:20 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Password And Confirmation Password dont match",
                    "value": {
                      "is_success": false,
                      "code": 400,
                      "data": {},
                      "message": "Password dan Confirmation password tidak cocok"
                    }
                  },
                  "example-1": {
                    "summary": "Reset Password Minimal Character error",
                    "value": {
                      "is_success": false,
                      "code": 400,
                      "data": {},
                      "message": "Password minimal 8 karakter"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "67"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"43-4O96bNzkqcrOtpSsBo7EZ1+2cNw\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3A6ihtTIrOZxrG7EcEyVcsov25lKYtTKr8.l2N2Jlf9KgT8Re4z6X0nw0sCV7MHt4TwxY8hgUPnXVI; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 03 Jun 2024 12:10:29 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": false,
                  "code": 500,
                  "data": {},
                  "message": "invalid token"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Check Reset Password Token",
        "parameters": [
          {
            "name": "rpkey",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRheWxhd3JlbmNlQGJpdHJleC5jb20iLCJpZCI6IjkwNmRkM2U0LTI0MjktNGFmMC1hMTBhLTljMjExNGQzM2NiNSIsImlhdCI6MTcxNzMxOTE2NCwiZXhwIjoxNzE3MzIwMDY0fQ.u6mmTXP47dUKgqy1BneuJj4CePq5UDhGcqA7LGg0bRU"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "64"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"40-f9lSsmD1K0jjiuyg4z86yObOhcU\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3A4McmdDQc17EqkcsWQcF3Q657AivCD6_K.YZDmLvx78TkpL4ga9sySJADsIhFfxB0GBvqcB9Vlc%2Bo; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 02 Jun 2024 09:13:16 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 200,
                  "data": "",
                  "message": "Token valid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "67"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"43-olefsYrSB0zU68Oy4HHpDasqNJM\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 02 Jun 2024 09:22:54 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": false,
                  "code": 400,
                  "data": {},
                  "message": "Token expired"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "67"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"43-Hh1oj02uyOAsLUIjK4jvMz28lO8\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 02 Jun 2024 09:14:14 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": false,
                  "code": 401,
                  "data": {},
                  "message": "Token invalid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get All Data User",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "hasmy41@gmail.com"
          },
          {
            "name": "phone_number",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "+62 (886) 472-2530"
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "2650"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"a5a-Ob4Y8G7q6cVI6d10nYY8P48ZBzY\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3A2GK81DtVi0BD6b8-LX4G9qYEJvm2ue3I.PiYFq9%2FGGsawLq0%2BWwKqSHLWaAVnvsEb43TRkKwDWOU; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 07 Jun 2024 02:42:41 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "Get All Data User",
                    "value": {
                      "status": "Success",
                      "data": {
                        "users": [
                          {
                            "user_id": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069",
                            "name": "Rafli Kharisma Akbar",
                            "email": "adjrafli@gmail.com",
                            "phone_number": "+6281294703072",
                            "role": "admin",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "4f725ae7-7d7d-47e2-bffe-76c79bcf1ace",
                            "name": "Hafiedz ",
                            "email": "hasmy41@gmail.com",
                            "phone_number": "+6285255311529",
                            "role": "admin",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "872c72c3-5dda-48ec-a462-fa823acafbc9",
                            "name": "Trujillo Reid",
                            "email": "trujilloreid@bitrex.com",
                            "phone_number": "+62 (886) 472-2530",
                            "role": "user",
                            "is_verified": false,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "ebd93782-e04e-4c8d-ba31-6facf3141bd3",
                            "name": "Francis Carson",
                            "email": "franciscarson@bitrex.com",
                            "phone_number": "+62 (895) 518-3838",
                            "role": "user",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "f7999564-f726-4a85-bb97-d5d891f0eea6",
                            "name": "Sally Forbes",
                            "email": "sallyforbes@bitrex.com",
                            "phone_number": "+62 (934) 567-2600",
                            "role": "user",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "d2cc2f92-efb3-411b-9a4e-44adb6398de1",
                            "name": "Hartman Ashley",
                            "email": "hartmanashley@bitrex.com",
                            "phone_number": "+62 (868) 446-2690",
                            "role": "user",
                            "is_verified": false,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "c1f6d709-c4ed-4668-9864-215929193b96",
                            "name": "Benjamin Stevens",
                            "email": "benjaminstevens@bitrex.com",
                            "phone_number": "+62 (806) 460-3037",
                            "role": "user",
                            "is_verified": false,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "20eded2d-e6de-467a-9675-d7736780e238",
                            "name": "Rowena Curry",
                            "email": "rowenacurry@bitrex.com",
                            "phone_number": "+62 (856) 599-2950",
                            "role": "user",
                            "is_verified": false,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "906dd3e4-2429-4af0-a10a-9c2114d33cb5",
                            "name": "Day Lawrence",
                            "email": "daylawrence@bitrex.com",
                            "phone_number": "+62 (997) 420-2519",
                            "role": "user",
                            "is_verified": false,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          },
                          {
                            "user_id": "d1b0bc7c-ae4a-443d-a1a0-b4a442e6f779",
                            "name": "Muhammad Rizki",
                            "email": "mhdrizky32@gmail.com",
                            "phone_number": "+6282388013330",
                            "role": "admin",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T14:12:42.751Z"
                          }
                        ]
                      },
                      "pagination": {
                        "totalData": 10,
                        "totalPages": 1,
                        "pageNum": 1,
                        "limitData": 10
                      }
                    }
                  },
                  "example-1": {
                    "summary": "Get By Params",
                    "value": {
                      "status": "Success",
                      "data": {
                        "users": [
                          {
                            "user_id": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069",
                            "name": "Rafli Kharisma Akbar",
                            "email": "adjrafli@gmail.com",
                            "phone_number": "+6281294703072",
                            "role": "admin",
                            "is_verified": true,
                            "createdAt": "2024-06-06T13:16:55.688Z",
                            "updatedAt": "2024-06-06T13:16:55.688Z"
                          }
                        ]
                      },
                      "pagination": {
                        "totalData": 1,
                        "totalPages": 1,
                        "pageNum": 1,
                        "limitData": 10
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get User By ID",
        "description": "Retrieve user details by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to retrieve",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.18.0 (Ubuntu)"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 10 Jun 2024 14:05:53 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "441"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"1b9-FWvpwjNHSvIY3uN69Rgjg9cwT68\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 200,
                  "data": {
                    "user": {
                      "user_id": "872c72c3-5dda-48ec-a462-fa823acafbc9",
                      "name": "AAA",
                      "email": "iniemail@g.com",
                      "phone_number": "08987512412",
                      "role": "user",
                      "image_url": "https://ik.imagekit.io/ib9lfahbz/finalProject/user/user-1718028305555_9fNFwprYe.png",
                      "image_id": "6667081337b244ef540d78dc",
                      "is_verified": false,
                      "createdAt": "2024-06-10T11:13:42.158Z",
                      "updatedAt": "2024-06-10T14:05:08.916Z"
                    }
                  },
                  "message": "get user success"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update User By ID",
        "description": "Update the details of a user by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to update",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string",
                    "example": "AAA"
                  },
                  "phone_number": {
                    "type": "integer",
                    "example": "08987512412"
                  },
                  "email": {
                    "type": "string",
                    "example": "iniemail@g.com"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.18.0 (Ubuntu)"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Mon, 10 Jun 2024 14:05:09 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "550"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"226-/Zzt7o7gyDGeNrtW2ZqLKnTEMc0\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 200,
                  "data": {
                    "updatedUser": {
                      "user_id": "872c72c3-5dda-48ec-a462-fa823acafbc9",
                      "name": "AAA",
                      "email": "iniemail@g.com",
                      "phone_number": "08987512412",
                      "password": "$2a$12$.Rh1oyiWpq5SQRFACgT3IOjIC9pfWxhTsT4SUBGOD.QTUuOEBW.Me",
                      "refresh_token": null,
                      "role": "user",
                      "image_url": "https://ik.imagekit.io/ib9lfahbz/finalProject/user/user-1718028305555_9fNFwprYe.png",
                      "image_id": "6667081337b244ef540d78dc",
                      "is_verified": false,
                      "createdAt": "2024-06-10T11:13:42.158Z",
                      "updatedAt": "2024-06-10T14:05:08.916Z"
                    }
                  },
                  "message": "User updated successful"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "Delete User",
        "description": "Delete a user by their ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID of the user to delete",
            "schema": {
              "type": "string",
              "example": "2b054118-24fc-4c00-8ba2-b1a5e9bb0069"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "58"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"3a-QwmSB5YAu+zmAnoKIpDlxEPWnkU\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 07 Jun 2024 03:01:31 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "status": "Success",
                  "message": "Successfully deleted user"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/flight/create": {
      "post": {
        "tags": [
          "Flight"
        ],
        "summary": "create Flight",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "flight_duration": 330,
                  "flight_description": {
                    "meal": "included",
                    "entertainment": "available",
                    "wifi": "available"
                  },
                  "flight_status": "on time",
                  "flight_code": "AWQ 456",
                  "plane_type": "Airbus A350",
                  "seats_available": 240,
                  "departure_date": "2024-06-11",
                  "departure_time": "15:30:00",
                  "arrival_date": "2024-06-25",
                  "arrival_time": "19:30:00",
                  "departure_airport_id": "ec3b9040-859d-4856-a86f-99903290ceb8",
                  "arrival_airport_id": "f919b7f9-8d34-4127-985c-205b8c7dd7bd"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "850"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"352-64Wc+L/eE542CIMhC8+B76/Fc+c\""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 07 Jun 2024 04:04:46 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "is_success": true,
                  "code": 201,
                  "data": {
                    "flight": {
                      "terminal": false,
                      "flight_id": "30088446-8f40-4243-8341-961f71b9fcea",
                      "airline_id": "aaa6c89c-84fa-485a-8c3f-979b4796743e",
                      "flight_duration": 330,
                      "flight_description": {
                        "meal": "included",
                        "entertainment": "available",
                        "wifi": "available"
                      },
                      "flight_status": "on time",
                      "flight_code": "AWQ 456",
                      "plane_type": "Airbus A350",
                      "seats_available": 240,
                      "departure_airport": "Bandar Udara Internasional I Gusti Ngurah Rai",
                      "arrival_airport": "Suvarnabhumi Airport",
                      "departure_date": "2024-06-11",
                      "departure_time": "15:30:00",
                      "arrival_date": "2024-06-25",
                      "arrival_time": "19:30:00",
                      "departure_airport_id": "3670ded6-a932-4f7b-957c-ad27626a056d",
                      "arrival_airport_id": "3f89dbac-c0de-4319-8e42-af315be8510c",
                      "updatedAt": "2024-06-07T04:04:46.843Z",
                      "createdAt": "2024-06-07T04:04:46.843Z",
                      "is_promo": null
                    }
                  },
                  "message": "Create flight success"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/flight": {
      "get": {
        "tags": [
          "Flight"
        ],
        "summary": "get all Flight",
        "parameters": [
          {
            "name": "departure_city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Bali"
          },
          {
            "name": "arrival_city",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Jakarta"
          },
          {
            "name": "seats_available",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "flight_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "delayed"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20"
          },
          {
            "name": "departure_date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024-06-11"
          },
          {
            "name": "seat_class",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Premium economy"
          },
          {
            "name": "departure_time",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "early dan late",
            "example": "late"
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "lowest dan higest",
            "example": "highest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=utf-8"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "8563"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"2173-uBkUB4iwpU8hoHhVaHPb2sEFpV4\""
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "example": "connect.sid=s%3A4qxwreTjtdkIZFvM3Rdc30JHLcgioiHS.eM8KE04aKfyMZqI5oODQGDsONuXSJxd8n9jfOyS6esY; Path=/; HttpOnly"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Fri, 07 Jun 2024 04:04:20 GMT"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "get all Flight",
                    "value": {
                      "is_success": true,
                      "code": 200,
                      "data": {
                        "flights": [
                          {
                            "flight_id": "f1e94c93-4920-4097-8dca-05f4afa83dde",
                            "flight_code": "CTV542",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 114,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Economy",
                            "price": 1091438,
                            "price_for_child": 818579,
                            "price_for_infant": 109144,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          },
                          {
                            "flight_id": "f1e94c93-4920-4097-8dca-05f4afa83dde",
                            "flight_code": "CTV542",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 114,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Premium Economy",
                            "price": 4251999,
                            "price_for_child": 3188999,
                            "price_for_infant": 425200,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          },
                          {
                            "flight_id": "f1e94c93-4920-4097-8dca-05f4afa83dde",
                            "flight_code": "CTV542",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 114,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Business",
                            "price": 7366268,
                            "price_for_child": 5524701,
                            "price_for_infant": 736627,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          },
                          {
                            "flight_id": "f1e94c93-4920-4097-8dca-05f4afa83dde",
                            "flight_code": "CTV542",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 114,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "First Class",
                            "price": 14110103,
                            "price_for_child": 10582577,
                            "price_for_infant": 1411010,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          },
                          {
                            "flight_id": "33ac3457-81f1-4ebb-90f7-b72506bf178a",
                            "flight_code": "GIA327",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Bombardier CRJ900",
                            "seats_available": 90,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Economy",
                            "price": 1118688,
                            "price_for_child": 839016,
                            "price_for_infant": 111869,
                            "airline_name": "Garuda Indonesia",
                            "airline_code": "GIA"
                          },
                          {
                            "flight_id": "91303ba8-4663-4852-84d2-aeb9ef6fab1b",
                            "flight_code": "LNI438",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Airbus A319",
                            "seats_available": 124,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Economy",
                            "price": 1054565,
                            "price_for_child": 790924,
                            "price_for_infant": 105457,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "91303ba8-4663-4852-84d2-aeb9ef6fab1b",
                            "flight_code": "LNI438",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Airbus A319",
                            "seats_available": 124,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Premium Economy",
                            "price": 2326694,
                            "price_for_child": 1745021,
                            "price_for_infant": 232669,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "91303ba8-4663-4852-84d2-aeb9ef6fab1b",
                            "flight_code": "LNI438",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Airbus A319",
                            "seats_available": 124,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Business",
                            "price": 6078993,
                            "price_for_child": 4559245,
                            "price_for_infant": 607899,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "91303ba8-4663-4852-84d2-aeb9ef6fab1b",
                            "flight_code": "LNI438",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Airbus A319",
                            "seats_available": 124,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "First Class",
                            "price": 14758870,
                            "price_for_child": 11069153,
                            "price_for_infant": 1475887,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "de3b9149-4e9f-477e-b586-3ed9c5ba8c8c",
                            "flight_code": "SJY255",
                            "flight_duration": 150,
                            "flight_description": "{\"details\":[{\"id\":1,\"description\":\"Bagasi kabin 10 kg\"},{\"id\":2,\"description\":\"ada wifi\"},{\"id\":3,\"description\":\"ada hiburan di pesawat\"}]}",
                            "flight_status": "on time",
                            "plane_type": "Boeing 737 MAX 7",
                            "seats_available": 172,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Singapore Changi Airport",
                            "departure_city": "Singapore",
                            "departure_iata_code": "SIN",
                            "arrival_airport_name": "Narita International Airport",
                            "arrival_city": "Tokyo",
                            "arrival_iata_code": "NRT",
                            "seat_class": "Economy",
                            "price": 1135306,
                            "price_for_child": 851480,
                            "price_for_infant": 113531,
                            "airline_name": "Sriwijaya Air",
                            "airline_code": "SJY"
                          }
                        ],
                        "pagination": {
                          "totalData": 39,
                          "totalPages": 4,
                          "pageNum": 1,
                          "pageSize": 10
                        }
                      },
                      "message": "get flight data success"
                    }
                  },
                  "example-1": {
                    "summary": "all Flight Departure Time Late",
                    "value": {
                      "is_success": true,
                      "code": 200,
                      "data": {
                        "flights": [
                          {
                            "flight_id": "155f0085-0a2e-4909-9b30-c1735f1efe9a",
                            "flight_code": "JSA446",
                            "flight_duration": 180,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Boeing 737 MAX 7",
                            "seats_available": 180,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "18:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "21:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3476627,
                            "price_for_child": 2607470,
                            "price_for_infant": 347663,
                            "airline_name": "Jetstar Asia Airways",
                            "airline_code": "JSA"
                          },
                          {
                            "flight_id": "17b8da8b-61dc-4d9f-a5c4-b329cf272cdc",
                            "flight_code": "CEB788",
                            "flight_duration": 180,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 120,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "18:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "21:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3489942,
                            "price_for_child": 2617457,
                            "price_for_infant": 348994,
                            "airline_name": "Cebu Pacific",
                            "airline_code": "CEB"
                          },
                          {
                            "flight_id": "1f0fa9b5-c55f-43d4-9d70-1b8c1df80159",
                            "flight_code": "SVA992",
                            "flight_duration": 180,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Airbus A220",
                            "seats_available": 168,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "18:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "21:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3017371,
                            "price_for_child": 2263028,
                            "price_for_infant": 301737,
                            "airline_name": "Saudia",
                            "airline_code": "SVA"
                          },
                          {
                            "flight_id": "d9122fa5-0ba6-475b-acf5-2e6b6d514970",
                            "flight_code": "CES533",
                            "flight_duration": 195,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Airbus A220",
                            "seats_available": 168,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "12:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "15:15:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3084572,
                            "price_for_child": 2313429,
                            "price_for_infant": 308457,
                            "airline_name": "China Eastern Airlines",
                            "airline_code": "CES"
                          },
                          {
                            "flight_id": "a99a160b-399b-4a3e-a297-68474c3310c0",
                            "flight_code": "AWQ332",
                            "flight_duration": 195,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 120,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "12:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "15:15:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 2474466,
                            "price_for_child": 1855850,
                            "price_for_infant": 247447,
                            "airline_name": "Indonesia AirAsia",
                            "airline_code": "AWQ"
                          },
                          {
                            "flight_id": "b273067e-79a2-4bea-96cc-c9b20d1c59d4",
                            "flight_code": "JAL1099",
                            "flight_duration": 195,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Boeing 737 MAX 7",
                            "seats_available": 180,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "12:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "15:15:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 4159749,
                            "price_for_child": 3119812,
                            "price_for_infant": 415975,
                            "airline_name": "Japan Airlines",
                            "airline_code": "JAL"
                          },
                          {
                            "flight_id": "7e16bd21-82a1-4a7e-a342-e782392de7f8",
                            "flight_code": "CTV289",
                            "flight_duration": 150,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 120,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 2515823,
                            "price_for_child": 1886867,
                            "price_for_infant": 251582,
                            "airline_name": "Citilink",
                            "airline_code": "CTV"
                          },
                          {
                            "flight_id": "e62e455b-b019-412a-a871-6d1a424081c4",
                            "flight_code": "LNI152",
                            "flight_duration": 150,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Boeing 737 MAX 7",
                            "seats_available": 180,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3059009,
                            "price_for_child": 2294257,
                            "price_for_infant": 305901,
                            "airline_name": "Lion Air",
                            "airline_code": "LNI"
                          },
                          {
                            "flight_id": "c302cdde-013e-4cd7-bd7f-bc74fcf79580",
                            "flight_code": "GIA806",
                            "flight_duration": 150,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Airbus A220",
                            "seats_available": 168,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "07:30:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "10:00:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 3000274,
                            "price_for_child": 2250206,
                            "price_for_infant": 300027,
                            "airline_name": "Garuda Indonesia",
                            "airline_code": "GIA"
                          }
                        ],
                        "pagination": {
                          "totalData": 9,
                          "totalPages": 1,
                          "pageNum": 1,
                          "pageSize": 10
                        }
                      },
                      "message": "get flight data success"
                    }
                  },
                  "example-2": {
                    "summary": "all Flight Price Highest",
                    "value": {
                      "is_success": true,
                      "code": 200,
                      "data": {
                        "flights": [
                          {
                            "flight_id": "b273067e-79a2-4bea-96cc-c9b20d1c59d4",
                            "flight_code": "JAL1099",
                            "flight_duration": 195,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Boeing 737 MAX 7",
                            "seats_available": 180,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "12:00:00",
                            "arrival_date": "2024-06-11",
                            "arrival_time": "15:15:00",
                            "departure_airport_name": "Bandar Udara Internasional I Gusti Ngurah Rai",
                            "departure_city": "Bali",
                            "departure_iata_code": "DPS",
                            "arrival_airport_name": "Bandara Internasional Soekarno Hatta",
                            "arrival_city": "Jakarta",
                            "arrival_iata_code": "CGK",
                            "seat_class": "Premium Economy",
                            "price": 4159749,
                            "price_for_child": 3119812,
                            "price_for_infant": 415975,
                            "airline_name": "Japan Airlines",
                            "airline_code": "JAL"
                          },
                          {
                            "flight_id": "17b8da8b-61dc-4d9f-a5c4-b329cf272cdc",
                            "flight_code": "CEB788",
                            "flight_duration": 180,
                            "flight_description": {
                              "details": [
                                {
                                  "id": 1,
                                  "description": "Bagasi kabin 10 kg"
                                },
                                {
                                  "id": 2,
                                  "description": "ada wifi"
                                },
                                {
                                  "id": 3,
                                  "description": "ada hiburan di pesawat"
                                }
                              ]
                            },
                            "flight_status": "on time",
                            "plane_type": "Embraer E190",
                            "seats_available": 120,
                            "terminal": false,
                            "departure_date": "2024-06-11",
                            "departure_time": "18:00:00",
[...]
